body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 5.625em;
    margin: 100px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container {
    background-color: #CAF7E3;
    display: inline-block;
    width: 100%;
}
.bottom-cloud {
    position: absolute;
    top: 200px;
}
.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}
a {
    color: #11999E;
}
.skill-row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
    /* height: 150px; */
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.profile-img {
    width: 25%;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    height: 0;
    clear: right;
}
.bottom-container{
    background-color: #66BFBF;
    height: 150px;
}
.footer-link {
    position: relative;
    top: 30px;
    margin-left: 20px;
}
.ending {
    margin-top: 55px;
}
.languages {
    width: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline;
}
.skill-languages{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.tools {
    width: 50px;
}
.links-img-github{
    width: 40px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.links-img-linkedin{
    width: 50px;
}